# Global settings #
###################
*.log
*.tmp
*.rar
*.class
.DS_Store
Thumbs.db

# Backend (Spring Boot 2.2) #
#############################
/backend/target/
/backend/*.war
/backend/*.jar
/backend/*.ear
/backend/hs_err_pid*

# Maven #
#########
/backend/pom.xml.tag
/backend/pom.xml.releaseBackup
/backend/pom.xml.versionsBackup
/backend/pom.xml.next
/backend/release.properties
/backend/dependency-reduced-pom.xml
/backend/buildNumber.properties
/backend/.mvn/timing.properties
/backend/.mvn/wrapper/maven-wrapper.jar

# IDEs #
#######
/backend/.idea/
/backend/*.iml
/backend/*.iws
/backend/*.ipr
/backend/.settings/
/backend/.project
/backend/.classpath
/backend/nbproject/private/
/backend/build/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

# Frontend (Angular) #
######################
/frontend/node_modules/
/frontend/dist/
/frontend/tmp/
/frontend/out-tsc/
/frontend/src/environments/environment.prod.ts
/frontend/src/environments/environment.ts

# Yarn #
########
/frontend/.yarn/cache/
/frontend/.yarn/unplugged/
/frontend/.yarn/build-state.yml
/frontend/.yarn/install-state.gz

# IDEs #
#######
/frontend/.idea/
/frontend/*.iml
/frontend/*.iws
/frontend/*.ipr
/frontend/.vscode/

# Logs #
########
/frontend/logs/
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*

# OS #
######
/frontend/.DS_Store
/frontend/Thumbs.db
